body{
    margin: 0px;
    padding: 0px;
    background: url(https://images.pexels.com/photos/695657/pexels-photo-695657.jpeg?cs=srgb&dl=pexels-johann-piber-695657.jpg&fm=jpg);
}
.header{
        border: 3px solid black;
        position: absolute;
        display: grid;
        grid-template-columns: repeat(auto);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 420px;  
        border-radius: 10px;
        font-family: 'OpenSans-Bold';
        font-size: larger;
      
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'OpenSans-Bold';
    font-size: 35px;
    
}
.search-field
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  
}
.search-field input
{
    /* padding: 4px; */
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    background: transparent;
    border: none;
    height: 35px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}
.btn button
{
    padding: 6px;
    background-color: #828a8d;
    font-family: "Patua One";
    font-weight: bolder;
    font-size: 16px;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;  
}
.logo img
{
    width: 100px;
    height: 100px;
}
.cityName{
    font-size: 33px;
    font-family: 'OpenSans-Bold';
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.temp{
    font-size: 27px;
    font-family: 'OpenSans-Bold';
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;

}